body {
    font-family: Arial, Helvetica, sans-serif;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(70, 68, 68);
}

.container {
    background-color: rgb(91, 196, 196);
    height: 320px;
    width: 50%;
    text-align: center;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 3px 4px 31px -3px rgba(146, 146, 146, 0.75);
}

#quote {
    height: 100px;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7fffd4;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0px 2px 20px 8px #88d8bd inset;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(136, 136, 221, .8);
    color: rgb(43, 41, 41);
    font-weight: bold;
    font-size: 1em;
    box-shadow: 0px 2px 20px 8px rgba(42, 42, 83, 0.3);
}

button:hover {
    background-color: rgba(136, 136, 221, .9);
    cursor: pointer;
    box-shadow: 0px 2px 20px 8px rgba(42, 42, 83, 0.5);
}

span {
    color: rgb(86, 86, 134);
    display: block;
}