body {
    font-family: Arial, Helvetica, sans-serif;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(70, 68, 68);
}

.container {
    background-color: aqua;
    height: 280px;
    width: 50%;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
}

#quote {
    height: 100px;
    width: 80%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 10px;
    color: rgb(19, 18, 18);
    font-weight: bold;
}

button {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(136, 136, 221, .8);
    color: white;
    font-weight: bold;
    font-size: 1em;
    box-shadow: 1px 2px 5px 2px rgb(79, 79, 173);
}

button:hover {
    background-color: rgba(136, 136, 221, .9);
    cursor: pointer;
    box-shadow: 1px 2px 5px 2px rgba(79, 79, 173, .8);
}